<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://jsonfan.com">Jason Fan</a>
    </small>
    <nav>
      <ul>
        <li></li>
      </ul>
    </nav>
  </footer>
</div>
